<div class="big-card__container">
  <div class="big-card__foto">
    <img src="https://upload.wikimedia.org/wikipedia/commons/9/98/International_Pok%C3%A9mon_logo.svg"
    height="250px"
    width="350px"
    srcset=""
    >
  </div>
    <div class="big-card__Title">
      <h1><a href="#"> Desenvolvedor full stack junior</a></h1>
    </div>
      <div class="big-card__description">
        <h2>Informações</h2>
        <p>Desenvolvedor full stack junior</p>
        <p>Telefone: 11 95211-5379</p>
        <p>Ciências da computação na UNIVESP</p>
        <p></p>
        <p></p>
        <p></p>
      </div>
</div>
