

<app-menu-title></app-menu-title>
<div class="conteiner__articles">
   <div class="articles_main">
     <app-big-card id="1" photoCover="https://live.staticflickr.com/65535/53387250892_9da9626ce3_m.jpg"
     cardTitle="Desenvolvedor full stack junior"
     cardDescription="WhatsApp:  (11)95211-5379"
     download="Curriculum">
     </app-big-card>
  </div>
 <div class="articles_others">
   <app-small-card id="2"
   photoCover="https://live.staticflickr.com/65535/53395982245_65621ffaec_n.jpg"
   cardTitle="Front_End "></app-small-card>
   <app-small-card id="3" photoCover="https://live.staticflickr.com/65535/53395551811_7db4bd1ba2_n.jpg"
   cardTitle="Back_end"></app-small-card>
   <app-small-card id="4"
   photoCover="https://live.staticflickr.com/65535/53395572556_79b9c62167_w.jpg"
   cardTitle="Outras Tecnologias"></app-small-card>
  </div>
</div>

