.container__small-card{
  border: 1px solid white;
  width: 600px;
  margin-bottom: 15px;
 }

.container__small-card-separator{
 margin-top: 10px;


}

.container__small-card-content{
  display: flex;
  flex-direction: row;
}

.small-card__photo > img{
  width: 100%;
  min-width: 200px;
  margin-right: 10px;
}

.small-card__title{
  font-size: large;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
